body {
  font-family: sans-serif;
  margin: 0;
  background-image: url('bg.jpg');
  background-size: cover;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: wavy underline;
}

section {
  margin: 50px auto;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

nav section {
  font-size: 2em;
}
