body {
	background-color: #100000;
	color: #cecefe;
	font-family: sans-serif;
	text-align: center;
	margin: 0;
}

a {
	color: #cecece;
}

a:hover {
	color: #fefefe;
	text-decoration: wavy underline;
}

nav section {
	border-bottom: 1px solid #000000;
	font-size: 2em;
	padding: 25px 0px;
	width: 1000px;
}