body {
	background-color: #100000;
	color: #cecefe;
	font-family: sans-serif;
	margin: 0;
}

a {
	color: #cecece;
	text-decoration: none;
}

a:hover {
	color: #fefefe;
	text-decoration: wavy underline;
}

section {
	margin: 0 auto;
	width: 1000px;
}

nav section {
	border-bottom: 1px solid #ff0000;
	font-size: 2em;
	padding: 25px 0px;
}